@import url('./cairo.css');
@import url('./font-awesome.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

:root {
    --main: #f0963d;
    --text: #333;
    --heading: #000;
    --icon: #000;
    --box: #FFF;
    --header: #d8b692;
    --blue: #0043a0;
    --white: rgb(255, 255, 255);
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --dark: #12121212;
}

body {
    overflow-x: hidden;
    font-family: 'Cairo', sans-serif
}


/* Start Main ************************************/

.main {
    position: absolute;
    width: 100%;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: 100%;
}


/* Top Bar */

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}

.home {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    padding-left: 40px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.logo {
    position: relative;
    width: 200px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.logo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 1.5rem;
    font-size: 2rem;
    padding: .2rem;
    color: var(--heading);
    background: var(--box);
    box-shadow: 50px 50px 50px 50px rgba(0, 0, 0, 0.4);
}

footer span {
    color: var(--main);
}

.card-body {
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
    footer {
        gap: 20px;
        font-size: 1.75rem;
    }
}

@media (max-width: 768px) {
    .link {
        display: none;
    }
    footer {
        gap: 15px;
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .home {
        padding-left: 0;
    }
    footer {
        gap: 10px;
        font-size: 1.2rem;
    }
}